extends ./layout/index

block contenido
    main.container.mt-5
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", class="img-fluid", alt="Imagen sobre nosotros")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nobis ipsum nihil sed accusamus delectus perferendis soluta est officia commodi, ipsa facilis cum laboriosam, necessitatibus ratione eos maxime! Necessitatibus, nesciunt!Consectetur non, at earum dolorum fugiat quas fuga eveniet tenetur voluptatum quasi maxime provident voluptas commodi sequi expedita. Illo, numquam? Fugiat iure dolorum quam perferendis.

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore at praesentium in ea soluta fugit, enim eveniet magni, molestias, exercitationem neque voluptas delectus dolore veniam libero ratione quam. Pariatur, explicabo.Expedita perferendis ea accusantium, ducimus architecto sapiente repudiandae.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tenetur tempore nihil libero! Provident eveniet cumque illum eum dolorem earum nobis atque, cupiditate distinctio voluptatem aspernatur possimus? Quam, blanditiis unde.Temporibus quibusdam, veritatis vel aspernatur commodi soluta.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4   
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tenetur tempore nihil libero! Provident eveniet cumque illum eum dolorem earum nobis atque, cupidita.
                .col-md-4   

                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los mejores destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tenetur tempore nihil libero! Provident eveniet cumque illum eum dolorem earum nobis atque, cupidita.
                .col-md-4   

                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate tenetur tempore nihil libero! Provident eveniet cumque illum eum dolorem earum nobis atque, cupidita.